/* Reset some default styles */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

/* Define background color, text color, and font family */
body {
    background-color: #f0f0f0;
    color: #333;
    font-family: Arial, sans-serif;
}

/* Header styles */
header {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

/* Navigation styles */
nav ul {
    list-style-type: none;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

nav li {
    display: inline;
    margin: 0 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
}

/* Section styles */
section {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

/* Footer styles */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
}

#youtube {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

#youtube a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
.profile-image {
    display: block; /* Ensures the image is on its line and not inline with text */
    max-width: 50%; /* Makes sure the image doesn't exceed the container's width */
    height: auto; /* Maintains the image's aspect ratio */
    margin: 0 auto; /* Centers the image horizontally */
    border-radius: 50%; /* Makes the image round (optional) */
}
#instagram, #youtube {
    text-align: center;
    padding: 20px;
    background-color: #f0f0f0;
}

#instagram a, #youtube a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}
